<div class="container_text_web1">
    <div class="head_text_we1">
        <p>VIKTIG!</p>
    </div>
    <div class="block_text">
        <p>DETTE ER IKKE EN DATINGSIDE.
           <br> DU MELDER OG DU FAN, DET ER DET.</p>
    </div>
    <div class="progress_container">

   
    <div class="text_progres">
       <p> Dupliserte registreringer blir gjennomgått...</p></div>
        <div class="container_progress">
            <div class="green_progress"></div>
            <div class="white_progress"></div>
        </div> </div>
</div>