<div class="container_text_web1">
    <div class="web9_block_one">
        <p>GRATULERER</p>
    </div>
    <div class="block_text">
        <p>DU ER KVALIFISERT FOR VÅR NETTSTED!</p>
    </div>
    <div class="web1_block_three">
        <p>Basert på svarene dine, er det <span style="color: red;">216</span> kvinnelige
            medlemmer i nærheten av deg</p>
    </div>
    <div class="web9_block_four">
        <p>Du er godkjent for å melde deg på!</p>
    </div>
    <div class="container_rules">
        <div class="head_cont"><p>Vennligst les våre 3 regler nå</p></div>
        <div class="rul">
            <img src="Img/okHand.png" alt="" />
            <p>Hvis du ser noen du kjenner, har du ikke lov til <br>å
                publisere det! Ikke spre rykter.</p>
        </div>
        <div class="rul">
            <img src="Img/okHand.png" alt="#" />
            <p>Respekter andre medlemmers seksuelle lyster. Våre brukere er normale kvinner, ikke <br> prostituerte eller pornostjerner.</p>
        </div>
        <div class="rul">
            <img src="Img/okHand.png" alt="#" />
            <p>Når du har sex med et av våre medlemmer, er det DITT ansvar <br> å 
beskytte deg mot kjønnssykdommer.</p>
        </div>

    </div>
    <div class="web9_hide_text">
        <p>Hvis du godtar alt ovenfor, klikker du på 'Jeg godtar'-knappen nedenfor for å fortsette til GRATIS registreringssiden.</p>
    </div>
    <div class="container_btn">
    <div class="btn_cont">JEG ER ENIG</div>
    </div>
</div>