<!-- <div class="checkbox-item">
    <label for="checkbox1">Label 1</label>
    <input type="checkbox" id="checkbox1" class="limited-checkbox">
</div>
<div class="checkbox-item">
    <label for="checkbox2">Label 2</label>
    <input type="checkbox" id="checkbox2" class="limited-checkbox">
</div>
<div class="checkbox-item">
    <label for="checkbox3">Label 3</label>
    <input type="checkbox" id="checkbox3" class="limited-checkbox">
</div>
<div class="checkbox-item">
    <label for="checkbox4">Label 4</label>
    <input type="checkbox" id="checkbox4" class="limited-checkbox">
</div>
<div class="checkbox-item">
    <label for="checkbox5">Label 5</label>
    <input type="checkbox" id="checkbox5" class="limited-checkbox">
</div>
<div class="checkbox-item">
    <label for="checkbox6">Label 6</label>
    <input type="checkbox" id="checkbox6" class="limited-checkbox">
</div> -->
<h1>checkbox</h1>
